#hot-topic-header {
  font-size: 3rem;
  font-weight: 700;
  color: #121221;
}

#hot-topic-image {
  width: 100%;
  flex: 2;
}

#hot-topic-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

#hot-topic-info {
  bottom: 0;
  left: 0;
  background: transparent;
  height: 50%;
  width: 65%;
}

#hot-topic-info p {
  color: #F8F8F8;
  font-weight: 700;
  font-size: 2rem;
}

#hot-topic-info small {
  color: #F8F8F8;
  font-weight: 400;
  font-size: 0.75rem;
}

#hot-topic-description {
  color: #444444;
  font-weight: 400;
  font-size: 2rem;
  flex: 1;
  align-self: center;
}

#hot-topic-read-more {
  text-decoration: none;    
  color: inherit;             
  font-weight: normal;       
}

#hot-topic-read-more:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  #hot-topic-description {
    display: none;
  }
}